@use '../themes/default' as gt;

nav {
  padding: 24px;
  margin-bottom: 25px;

  .help {
    cursor: pointer;
    color: gt.theme-var(auth-text-color-2, null, gt.$auth-thememaplight, gt.$auth-cssvars);
    text-decoration: none;
  }
}
