@use '../../sass/themes/_default' as gt;

.autocomplete-container {
  position: relative;

  .autocomplete-error-text {
    color: gt.theme-var(text-color-8);
    font-weight: bold;
  }

  .autocomplete-list,
  .autocomplete-loading-container {
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: gt.theme-var(bg-1);
    top: calc(100% + 0.25rem);
    z-index: 1;
  }

  .autocomplete-list {
    max-height: 200%;
    overflow-y: auto;
  }

  .autocomplete-loading-container {
    padding: 0.5rem;
  }
}
