.auth-container {
  min-height: 100vh;
  background: url(../../../../../images/signin/background-vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
