@use '../themes/default' as gt;

nav {
  padding: 24px;
  margin-bottom: 25px;

  .help {
    cursor: pointer;
    color: gt.theme-var(text-color-7, null, gt.$thememaplight, gt.$cssvars);
    text-decoration: none;
  }
}
