@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;

@import '../../pages/awards/_awardsTheme.js';

@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

.award-info-container {
  display: none;
  flex-direction: column;
  min-width: 350px;
  border-radius: 12px;
  background-color: white;
  position: absolute;
  z-index: 9999;
  // height: 10rem;
  // overflow-y: scroll;

  @include gm.box-shadow();
}

.award-info-container[data-show] {
  display: flex;
}

.pointer-cursor {
  cursor: pointer;
}

.award-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  flex-direction: row-reverse;

  img {
    height: 30px;
    align-self: flex-start;
  }

  .award-title {
    margin: 0;
  }

  .award-subtitle {
    color: gt.theme-var(awards-text-color-2, null, $thememaplight, $cssvars);
    margin-top: 0.2rem;

    &.next-achievement-subtitle {
      margin-top: 1rem;
    }
  }

  .award-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .progress-bar {
      border-radius: 20px;
      width: 100%;
      height: 0.4rem;
      margin-top: 1.4rem;
      background-color: gt.theme-var(awards-body-bg, null, $thememaplight, $cssvars);
      overflow: unset;

      .progress {
        position: relative;
        overflow: unset;
        $color1 : gt.theme-var(awards-gradient-color-1, null, $thememaplight, $cssvars);
        $color2 : gt.theme-var(awards-gradient-color-2, null, $thememaplight, $cssvars);

        background: linear-gradient(270deg, $color1, $color2);

        .progress-textual-indicator {
          position: absolute;
          color: black;
          right: 0;
          bottom: 5px;
          display: flex;
          flex-direction: column;

          .progress-as-text {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
          }

          .arrow {
            margin-top: 3px;
          }
        }
      }
    }
  }
}
