@use '../base/_mixins' as gm;
@use '../themes/_default' as gt;

.modal-bottom-sheet {
  padding: 0;
  transition: 0.5s all ease;

  .modal-dialog-slideout {
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: unset;

    .modal-content {
      border: none;
      border-radius: 0;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: transparent;
    }
  }

  &.modal.fade {
    .modal-dialog {
      &.modal-dialog-slideout {
        -webkit-transform: translate(0, 100%) scale(1);
        transform: translate(0, 100%) scale(1);
        display: flex;
        align-items: flex-end;

        .modal-content {
          height: unset;
        }
      }
    }

    &.show {
      .modal-dialog {
        &.modal-dialog-slideout {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
          display: flex;
          align-items: flex-end;

          .modal-content {
            height: 100%;

            .modal-body {
              overflow-y: auto;
              overflow-x: hidden;
              height: 100%;
              padding: 1rem;
              padding-bottom: 0;
              display: flex;
              flex-direction: column;

              .sheet-content {
                margin-top: auto;

                .sheet-close-handle-bar {
                  width: 3rem;
                  height: 0.5rem;
                  border-radius: 0.5rem;
                  background-color: gt.theme-var(bg-1);
                  text-align: center;
                  margin: 0.5rem auto;
                  float: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
