@font-face {
  font-family: 'DancingScriptBold';
  src: url('../../fonts/DancingScript-Bold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
