@use '../base/_mixins' as gm;
@use '../themes/_default' as gt;

.fragment-nav-bar {
  padding: 0.25rem;

  img {
    &.logo-img {
      width: 2rem;
    }
  }

  .close-btn {
    &.close-icon {
      border-radius: 0.5rem;
      color: gt.theme-var(text-color-2);
      font-size: 2rem;
      background: gt.theme-var(modal-close-btn-bg);
      padding: 0.125rem 0.45rem;
      line-height: 0.75;
      opacity: 1;

      @include gm.media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }

    &.close-btn-pill {
      background-color: gt.theme-var(bg-1);
      border-radius: 1.25rem;
      display: inline-block;
    }
  }
}
