nav {
  &.game-navbar {
    .mob-nav-header {
      background-color: rgba(23, 24, 24, 0.75);
      backdrop-filter: blur(32px);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0.5rem;

      .homeNavIcon {
        margin-left: 0.5rem;

        // svg {
        //   transform: scale(1.5);
        // }
      }

      .leaderBoardIcon {
        svg {
          transform: scale(0.75);
        }
      }

      .profileImg {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
      }
    }
  }
}
