@use '../base/_mixins' as gm;
@use '../themes/_default' as gt;

.btn-math-primary {
  background: radial-gradient(circle farthest-corner at 0 20%, gt.theme-var(math-btn-primary-disc, null, gt.$math-theme-map-light) 30%, gt.theme-var(math-btn-primary, null, gt.$math-theme-map-light) 0);
  border-radius: 10px;
  min-width: 8rem;

  &,
  &:focus {
    box-shadow: 0 6px gt.theme-var(math-btn-primary-shadow, null, gt.$math-theme-map-light);
  }

  &:active {
    box-shadow: 0 4px gt.theme-var(math-btn-primary-shadow, null, gt.$math-theme-map-light);
    transform: translateY(2px);
  }
}

.math-control-btn {
  min-width: 87px;
  min-height: 36px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(237, 242, 89, 1);
  color: rgba(4, 68, 191, 1);

  @include gm.box-shadow-custom(2px 4px gt.theme-var(math-card-shadow, null, gt.$math-theme-map-light));

  @include gm.media-breakpoint-up(md) {
    padding: 15px;
    font-size: 1.8rem;
  }
}

.math-control-btn:hover {
  color: rgba(4, 68, 191, 1);
}
