@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;

$pagination-offset: 7vh;
$pagination-offset-after-lg: 6vh;

.pagination-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $pagination-offset;

  @include gm.media-breakpoint-up(lg) {
    height: $pagination-offset-after-lg;
  }

  .pagination-nav {
    width: 100%;
    height: 100%;
    background-color: gt.theme-var(bg-1);
    display: flex;
    justify-content: center;

    .pagination {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;

      @include gm.media-breakpoint-up(md) {
        width: 80%;
      }

      @include gm.media-breakpoint-up(lg) {
        width: 60%;
      }

      @include gm.media-breakpoint-up(xl) {
        width: 35%;
      }

      .page-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .page-link {
          border: none;
          background-color: inherit;
          box-shadow: none;
          padding: 0;
        }

        &:first-child.disabled,
        &:last-child.disabled {
          pointer-events: none;

          .page-link {
            svg {
              fill: gt.theme-var(text-color-5);
            }
          }
        }
      }
    }
  }
}
