@use '../themes/_default' as gt;
@use '../base/_mixins' as gm;

.swiper-button-next,
.swiper-button-prev {
  &:after {
    content: '';
  }

  color: gt.theme-var(text-color-2);
  border-radius: 50px;
  padding: 1.5rem;
  background-color: gt.theme-var(bg-2);

  @include gm.media-breakpoint-down(md) {
    display: none;
  }
}
