@use '../themes/_default' as gt;
@use '../base/_mixins' as gm;
@use '../base/_variables' as gv;

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Sans&display=swap');

.imageTemplate {
  height: 720px;
  width: 1080px;
}

#certificateBlock {
  height: 720px;
  width: 1080px;
  position: relative;
}

#certificateDOM {
  position: fixed;
  top: 0;

  & > div {
    height: 0;
    width: 0;
    overflow: scroll;
  }
}

.userName {
  position: absolute;
  top: 330px;
  right: 97px;
  font-size: 80px;
  font-family: 'Courgette', cursive, sans-serif;
}

.certificateName {
  max-width: 700px;
  text-align: right;
  position: absolute;
  top: 450px;
  right: 110px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.certificateId {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.certificateSign {
  position: absolute;
  top: 520px;
  right: 120px;
  height: 60px;
  width: 140px;
}
