<header class="nav-bg shadow-sm">
  <nav class="navbar navbar-dark navbar-expand-lg nav-bg col-sm-11 mx-auto">
    <a class="navbar-brand nav-logo d-flex" href="/index.html">
      <div class="with-out-logo tiny"></div>
      <p class="px-1 mx-1 my-auto tag bg-success">Beta</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
        aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav mr-auto align-items-center">
        <li class="nav-item dashboardPage">
          <a class="nav-link" href="/dashboard.html">My Home</a>
        </li>
        <li class="nav-item leaderboardPage">
          <a class="nav-link" href="/leaderboard.html">Leaderboard</a>
        </li>
        <li class="nav-item challengesPage">
          <a class="nav-link" href="/challenges.html">
            Challenges
          </a>
        </li>
        <li class="nav-item eventsPage">
          <a class="nav-link d-flex" href="/events.html">
              <p class="m-0">Events</p>
          </a>
        </li>
        <li class="nav-item merchandisePage">
          <a class="nav-link d-flex" href="/merchandise.html">
              <p class="m-0">Merchandise</p>
          </a>
        </li>
        <li class="nav-item clubsPage">
          <a class="nav-link d-flex" href="#">
            Clubs
            <p class="tiny px-1 mx-1 my-auto tag tag-danger">Soon</p>
          </a>
        </li>
      </ul>
      <div class="d-flex justify-content-center flex-wrap nav-trail">
        <div class="d-flex no-wrap points-wrap align-self-center pr-4">
          <span></span>
        </div>
        <div class="d-flex no-wrap profile-wrap dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="profile.html">Profile</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
