<div class="modal fade pr-0" id="navbar-mob" tabindex="-1" role="dialog" aria-labelledby="navbar-mob" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content p-1 col-sm-11">
      <div class="modal-header border-0">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="modal-title" id="navbar-mobLabel">
            <a class="navbar-brand nav-logo d-flex no-wrap align-items-center" href="/index.html">
                <p class="m-0">Hacker</p>
                <p class="m-0">KID</p>
              </a>
          </h5>
          <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
      <div class="modal-body p-0" id="attendedMarkup">
          <ul class="list-unstyled pb-2 border-bottom border-secondary">
              <!-- <li class="nav-item home-playlist">
                  <a class="nav-link" href="#">Home Playlist</a>
              </li> -->
              <li class="nav-item dashboard">
                  <a class="nav-link" href="dashboard.html">Dashboard</a>
              </li>
              <li class="nav-item challenges">
                  <a class="nav-link" href="challenges.html">Challenges</a>
              </li>
              <li class="nav-item clubs">
                  <a class="nav-link" href="clubs.html">Clubs</a>
              </li>
              <li class="nav-item leaderboard">
                  <a class="nav-link" href="leaderboard.html">Leaderboard</a>
              </li>
              <li class="nav-item events">
                  <a class="nav-link d-flex" href="events.html">
                      <p class="m-0">Events</p>
                  </a>
              </li>
          </ul>

          <div class="col-11 mx-auto p-0 mobile-profile-wrap">
            <div class="d-flex justify-content-between">
              <p>Points</p>
              <div class="d-flex no-wrap points-wrap align-self-center pr-4">
                <span></span>
              </div>
            </div>
            <div class="profile-trigger d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target=".profileMenu">
              <p class="mb-0 user-name"></p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
            <div class="collapse profileMenu">
              <ul class="list-unstyled">
                <li class="nav-item profile">
                  <a class="nav-link" href="/profile.html">Profile</a>
                </li>
                <li class="nav-item logout">
                  <a class="nav-link logout-class" href="#">Logout</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
