@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;

@import './_moreTheme.js';

@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

.more-container {
  background-color: gt.theme-var(more-body-bg, null, $thememaplight, $cssvars);

  nav {
    background-color: gt.theme-var(more-nav-bg, null, $thememaplight, $cssvars);

    .navigation-container {
      .navigation-item {
        &.active {
          background-color: gt.theme-var(more-nav-active-bg, null, $thememaplight, $cssvars);
        }
      }
    }
  }

  .more-hero-container {
    .hero-card {
      display: flex;
      align-items: stretch;
      box-shadow: 0 4px 16px gt.theme-var(more-hero-card-box-shadow-color, null, $thememaplight, $cssvars);
      background:
        url('../../../../../images/dashboard/dashboard-hero-bg-left.png') no-repeat center left / contain,
        url('../../../../../images/dashboard/dashboard-hero-bg-right.png') no-repeat center right,
        gt.theme-var(bg-1);
      margin: 1rem 0;
      border-radius: 0.875rem;
      min-height: 12rem;

      @include gm.media-breakpoint-up(xxl) {
        min-height: 18rem;
      }

      @include gm.media-breakpoint-down(sm) {
        // background: url('../../../../../images/dashboard/dashboard-hero-bg-mobile.png') no-repeat center left / contain, gt.theme-var(bg-1);
        // min-height: unset;
        // padding: 1rem;
        display: none;
      }

      .hero-card-data {
        padding: 2rem 0 0;

        @include gm.media-breakpoint-down(sm) {
          padding: 0;
        }

        @include gm.media-breakpoint-up(sm) {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        .hero-card-img {
          background: url('../../../../../images/profile/default_user.png') no-repeat center center / cover;
          border-radius: 50%;
          position: relative;
          width: 5rem;
          height: 5rem;
          left: 15%;

          @include gm.media-breakpoint-down(xxxl) {
            transform: translate(50%);
          }

          @include gm.media-breakpoint-down(xxl) {
            transform: translateX(65%);
          }

          @include gm.media-breakpoint-down(xl) {
            transform: translateX(60%);
          }

          @include gm.media-breakpoint-down(lg) {
            transform: translateX(65%);
          }

          @include gm.media-breakpoint-down(md) {
            transform: translateX(75%);
          }

          @include gm.media-breakpoint-down(sm) {
            left: 0;
            transform: translateX(10%);
          }

          @include gm.media-breakpoint-down(xs) {
            left: 0;
            transform: translateX(15%);
          }

          @include gm.media-breakpoint-up(xxl) {
            width: 8rem;
            height: 8rem;
            // transform: translate(50%);
          }

          @include gm.media-breakpoint-up (xxxl) {
            transform: translateX(60%);
          }

          @include gm.media-breakpoint-up (xxxxl) {
            transform: translateX(55%);
            background-color: black;
          }

          @include gm.media-breakpoint-up(xxxxxl) {
            transform: translateX(30%);
            background-color: white;
          }
        }

        .hero-card-data-content {
          display: inline-flex;
          justify-content: center;
          width: fit-content;
          margin-top: 0.5rem;
          position: relative;
          left: 15%;
          transform: translateX(65%);

          // @include gm.media-breakpoint-down(xxxl) {
          //   left: 0;
          //   transform: translateX(50%);
          // }

          // @include gm.media-breakpoint-down(xxl) {
          //   left: 15%;
          //   transform: translateX(65%);
          // }

          // @include gm.media-breakpoint-down(xl) {
          //   left: 15%;
          //   transform: translateX(10%);
          // }

          // @include gm.media-breakpoint-down(lg) {
          //   left: 15%;
          //   transform: translateX(25%);
          // }

          // @include gm.media-breakpoint-down(sm) {
          //   left: 0;
          //   // transform: translate(30%, 20%);
          //   transform: translateX(10%);
          // }

          // @include gm.media-breakpoint-down(xs) {
          //   left: 0;
          //   transform: translateX(15%);
          // }

          @include gm.media-breakpoint-down(xxxl) {
            transform: translateX(50%);
          }

          @include gm.media-breakpoint-down(xxl) {
            left: 50%;
            transform: translateX(-50%);
          }

          @include gm.media-breakpoint-down(xl) {
            left: 40%;
            transform: translateX(-50%);
          }

          @include gm.media-breakpoint-down(lg) {
            left: 40%;
            transform: translateX(-40%);
          }

          @include gm.media-breakpoint-down(md) {
            left: 40%;
            transform: translateX(-35%);
          }

          @include gm.media-breakpoint-down(sm) {
            left: 0;
            transform: translateX(10%);
          }

          @include gm.media-breakpoint-down(xs) {
            left: 0;
            transform: translateX(15%);
          }

          @include gm.media-breakpoint-up(xxl) {
            // transform: translate(50%);
          }

          @include gm.media-breakpoint-up (xxxl) {
            left: 40%;
            transform: translateX(-40%);
          }

          @include gm.media-breakpoint-up (xxxxl) {
            left: 40%;
            transform: translateX(-50%);
          }

          @include gm.media-breakpoint-up(xxxxxl) {
            left: 30%;
            transform: translateX(-50%);
          }

          .hero-data {
            display: flex;
            align-items: center;
            // margin-left: 0.75rem;

            p {
              font-size: 1.125rem;
              margin-left: 0.5rem;
            }

            img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }

      .hero-card-nav {
        display: grid;
        place-items: center;

        .more-menu-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: gt.theme-var(bg-1);
          box-shadow: 0 4px 4px gt.theme-var(more-card-box-shadow-color, null, $thememaplight, $cssvars);
          border: 1px solid gt.theme-var(more-btn-bg, null, $thememaplight, $cssvars);
          border-radius: 12px;
          padding: 1rem;
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            margin: 0;
            font-weight: bold;
            color: gt.theme-var(more-btn-text-color, null, $thememaplight, $cssvars);
          }

          i {
            font-size: 1.5rem;
            color: gt.theme-var(more-btn-text-color, null, $thememaplight, $cssvars);
          }
        }
      }
    }

    .hero-card-mob {
      margin-top: 1rem;
      display: none;

      @include gm.media-breakpoint-down(sm) {
        display: block;
      }

      .more-menu-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gt.theme-var(bg-1);
        box-shadow: 0 4px 4px gt.theme-var(more-card-box-shadow-color, null, $thememaplight, $cssvars);
        border: 1px solid gt.theme-var(more-btn-bg, null, $thememaplight, $cssvars);
        border-radius: 12px;
        padding: 1rem;
        margin-bottom: 0.5rem;

        p {
          margin: 0;
          font-weight: bold;
          color: gt.theme-var(more-btn-text-color, null, $thememaplight, $cssvars);
        }

        i {
          font-size: 1.5rem;
          color: gt.theme-var(more-btn-text-color, null, $thememaplight, $cssvars);
        }
      }
    }
  }

  .more-card-container {
    .more-card-block {
      padding: 0.5rem;

      @include gm.media-breakpoint-down(md) {
        padding: 0.25rem;
      }

      .more-card-block-cntnr {
        height: 100%;
        background-color: gt.theme-var(bg-1);
        border-radius: 0.875rem;

        &.collectible-card {
          background: url('../../../../../images/more/collectibles.svg') no-repeat bottom right / 25%, gt.theme-var(bg-1);

          @include gm.media-breakpoint-down(md) {
            background: url('../../../../../images/more/collectibles.svg') no-repeat bottom right / 45%, gt.theme-var(bg-1);
          }
        }

        &.club-card {
          background: url('../../../../../images/more/moreFriends.svg') no-repeat bottom right / 25%, gt.theme-var(bg-1);

          @include gm.media-breakpoint-down(md) {
            background: url('../../../../../images/more/moreFriends.svg') no-repeat bottom right / 45%, gt.theme-var(bg-1);
          }
        }

        &.ide-card {
          background: url('../../../../../images/more/ide.svg') no-repeat bottom right / 25%, gt.theme-var(bg-1);

          @include gm.media-breakpoint-down(md) {
            background: url('../../../../../images/more/ide.svg') no-repeat bottom right / 45%, gt.theme-var(bg-1);
          }

          .more-card-btn {
            background-color: gt.theme-var(more-ide-btn-bg, null, $thememaplight, $cssvars) !important;
          }
        }

        .more-card {
          border-radius: 12px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .more-card-title {
            margin-bottom: 0;
            line-height: 1.5;
          }

          .more-card-subtitle {
            margin-top: 0;
            color: gt.theme-var(text-color-5);
            font-size: 0.875rem;
          }

          .more-card-btn-container {
            display: flex;
            padding-top: 3rem;

            .more-card-btn {
              border-radius: 0.75rem;
              padding: 0.75rem 2rem;
              background-color: gt.theme-var(more-btn-bg, null, $thememaplight, $cssvars);
              box-shadow: 0 4px 4px gt.theme-var(more-card-box-shadow-color, null, $thememaplight, $cssvars);
              max-width: 10rem;
              min-width: 9rem;

              &:disabled:hover {
                cursor: not-allowed;
              }

              @include gm.media-breakpoint-down(md) {
                padding: 0.75rem 1.75rem;
              }

              p {
                margin: 0;
                color: gt.theme-var(text-color-2);
                font-weight: bold;
                // font-size: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  .more-menu-container {
    margin: 0 0.5rem;

    @include gm.media-breakpoint-down(md) {
      margin-top: 1rem;
    }

    .more-menu-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: gt.theme-var(bg-1);
      box-shadow: 0 4px 4px gt.theme-var(more-card-box-shadow-color, null, $thememaplight, $cssvars);
      border-radius: 12px;
      padding: 1rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;
        font-weight: bold;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  .collectibles-modal {
    .mob-hero-card {
      margin-top: 1rem;

      .stats-container {
        background-color: gt.theme-var(more-award-card-bg, null, $thememaplight, $cssvars);
        padding: 1rem;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hero-data {
          display: flex;
          align-items: center;

          img {
            width: 25px;
            height: 25px;
            margin-right: 0.3rem;
          }
        }
      }

      .leaderboard-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        a.view-more-btn {
          border-radius: 14px;
          padding: 0.75rem;
          color: gt.theme-var(text-color-2);
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;

          i {
            font-size: 1.5rem;
            margin-left: 1rem;
          }
        }
      }
    }

    &.mob-collectibles-modal {
      padding: 0 !important; // override inline padding-right added from js

      .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
      }

      .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
      }

      .modal-body {
        overflow-y: auto;
      }
    }

    .modal-dialog {
      @include gm.media-breakpoint-up(md) {
        max-width: 50%;
      }
    }

    .modal-body {
      padding: 0;
    }

    .modal-custom-header {
      background-color: gt.theme-var(more-modal-header-bg, null, $thememaplight, $cssvars);
      padding: 0.75rem;

      .modal-title {
        font-weight: bold;
      }

      button.close {
        color: gt.theme-var(text-color-2);
        font-size: 2.5rem;
        background: gt.theme-var(more-modal-close-btn-bg, null, $thememaplight, $cssvars);
        padding: 0.125rem 0.6rem 0.45rem;
        line-height: 0.75;
        opacity: 1;
      }
    }

    .certificates-block {
      .collection-header {
        h5 {
          margin: 0;
        }
      }

      .certificates-list {
        list-style: none;
        margin: 0;
        padding: 0.75rem 0.5rem;

        li {
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          text-align: start;
          display: flex;
          align-items: center;
          border-bottom: 1px solid gt.theme-var(bg-3);

          .list-icon {
            width: 25px;
            height: 25px;
            margin-right: 0.75rem;
          }

          .share-btn {
            margin-left: auto;
            border: none;
            outline: none;
            background: none;
            display: flex;
            align-items: center;

            img {
              width: 16px;
            }
          }
        }
      }
    }

    .collection-block {
      margin: 1.5rem 0;

      .collection-header {
        h5 {
          font-weight: bold;
          font-size: 1.125rem;
        }
      }

      .collection-content {
        text-align: center;

        p {
          margin: 0;
          font-size: 0.875rem;
          color: gt.theme-var(text-color-5);
        }
      }

      .navigation-link {
        color: gt.theme-var(more-navigation-card-text-color, null, $thememaplight, $cssvars);
        text-decoration: none;
      }

      a.view-more-btn {
        border-radius: 14px;
        padding: 0.75rem;
        color: gt.theme-var(text-color-2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;

        i {
          font-size: 1.5rem;
        }
      }
    }

    .awards-block {
      .award-card {
        img {
          width: 64px;
          height: 56px;
        }
      }

      &.mob-awards-block {
        .award-card {
          img {
            width: 54px;
          }
        }
      }

      .collection-content {
        margin-top: 1rem;
      }

      .skeleton-container {
        .award-card.skeleton {
          animation: refresh 2.5s ease-out infinite;
          background-image: linear-gradient(90deg, gt.theme-var(text-color-6), gt.theme-var(bg-3) 30px, gt.theme-var(skeleton-bg) 60px);
          background-size: 200%;
        }
      }
    }

    .collectibles-block {
      .collection-content {
        margin-top: 1rem;
      }
    }

    .collection-content {
      h3 {
        color: gt.theme-var(text-color-5);
        margin: 3rem 0;
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gt.theme-var(more-btn-bg, null, $thememaplight, $cssvars);
      padding: 0.75rem;

      &:hover {
        cursor: pointer;
      }

      .footer-btn {
        background-color: transparent;
        border: none;
        color: gt.theme-var(text-color-2);
      }
    }
  }

  .logoutModal {
    .modal-dialog {
      @include gm.media-breakpoint-up(md) {
        max-width: 50%;
      }
    }

    .modal-body {
      padding: 0;
    }

    .modal-custom-header {
      button.close {
        display: none;
      }
    }

    .logoutContainer {
      padding: 1.5rem;

      h5 {
        text-align: center;
      }

      button {
        width: 40%;
        margin: 0 0.5rem;
        margin-top: 1rem;

        &.btn-primary {
          color: gt.theme-var(text-color-2);
        }
      }
    }
  }

  .share-certificate-modal {
    button.close {
      margin-left: auto;
      margin-right: 0.3rem;
      color: gt.theme-var(text-color-2);
      font-size: 2.5rem;
      background: gt.theme-var(more-modal-close-btn-bg, null, $thememaplight, $cssvars);
      padding: 0.125rem 0.6rem 0.45rem;
      line-height: 0.75;
      opacity: 1;
    }

    .share-content {
      display: grid;
      place-items: center;

      h5,
      p {
        text-align: center;
      }

      .copy-link-btn {
        margin: 0 0.25rem;
        border-width: 2px;
        border-radius: 0.75rem;
        font-weight: bold;

        &.btn-outline-primary {
          &:hover {
            color: gt.theme-var(text-color-2);
          }
        }
      }
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin: 2rem auto;
      padding: 0;

      .form-group {
        margin: 0;
        padding: 0;

        input {
          border-radius: 0.5rem;
          border: 1px solid gt.theme-var(more-controls-border-color, null, $thememaplight, $cssvars);
          background-color: gt.theme-var(bg-1);
        }
      }
    }
  }

  @keyframes refresh {
    0% {
      background-position: -100%;
    }

    100% {
      background-position: 100%;
    }
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: gt.theme-var(skeleton-bg);
    border-radius: 0.5rem;
  }
}
