@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;

@import './_courseTheme.js';

@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

.courses-container {
  background-color: gt.theme-var(course-body-bg, null, $thememaplight, $cssvars);

  nav {
    background-color: gt.theme-var(course-nav-bg, null, $thememaplight, $cssvars);

    .navigation-container {
      .navigation-item {
        &.active {
          background-color: gt.theme-var(course-nav-active-bg, null, $thememaplight, $cssvars);
        }
      }
    }
  }
}

.course-card {
  width: 20rem;
  height: 11.25rem;
  position: relative;
  display: inline-block;

  img {
    border-radius: 12px 12px 0 0;
  }

  .play-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .video-type {
    position: absolute;
    color: gt.theme-var(course-text-color-1, null, $thememaplight, $cssvars);
    padding: 4px 8px;
    border-radius: 12px;
    right: 8px;
    top: 8px;
    font-size: 14px;
    background-color: gt.theme-var(text-color-2);
    margin: 0;
  }

  .card-foot {
    background: gt.theme-var(videos-progress-gradient-1, null, $thememaplight, $cssvars);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;

    p {
      color: gt.theme-var(text-color-2);
      font-size: 20px;
      margin: 0 1rem;
      padding: 0.5rem;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 72px !important;
  height: 213px !important;
  top: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
  background: linear-gradient(270deg, #e5f4ed 0%, rgba(229, 244, 237, 0) 100%);
}

.swiper-button-prev {
  left: 0 !important;
  background: linear-gradient(90deg, #e5f4ed 0%, rgba(229, 244, 237, 0) 100%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: gt.theme-var(videos-progress-gradient-1, null, $thememaplight, $cssvars);
  font-size: 24px !important;
  font-weight: 900;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-slide {
  width: auto !important;
}

.course-card-container {
  padding: 0 9.5rem;
}

.circular-progress-container {
  padding: 3.125rem;
  border-radius: 12px;
  background-color: gt.theme-var(course-body-bg, null, $thememaplight, $cssvars);
  display: inline-block;
}

.circle-progress {
  width: 5.6rem;
  height: 5.5rem;

  svg {
    #gradient {
      .start {
        stop-color: gt.theme-var(videos-progress-gradient-2, null, $thememaplight, $cssvars);
      }

      .end {
        stop-color: gt.theme-var(videos-progress-gradient-1, null, $thememaplight, $cssvars);
      }
    }

    path {
      &.progress-bar {
        fill: none;
        stroke: url(#gradient);
      }
    }
  }
}

.module-icons {
  img {
    width: 19px;
  }
}

.linear-progress-bar {
  width: 19rem;
  height: 8px;
  border-radius: 12px;
  background-color: gt.theme-var(course-body-bg, null, $thememaplight, $cssvars);

  .progress-done {
    height: 100%;
    width: 10%;
    border-radius: 12px;
    background: linear-gradient(to left, gt.theme-var(videos-progress-gradient-1, null, $thememaplight, $cssvars), gt.theme-var(videos-progress-gradient-2, null, $thememaplight, $cssvars));
  }
}

.video-page-container {
  margin: 1rem 9.5rem;
  max-width: 1136px;
}

.video-player-container {
  margin: 0 auto;
  max-height: 640px;
  position: relative;
}

.video-discription-container {
  margin: 1.5rem auto 0;
}

.rating-tags-container {
  min-width: 324px;
  min-height: 164px;
  max-height: 164px;
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  
  hr,
  p,
  h4 {
    margin: 0;
  }

  .color-sub {
    color: gt.theme-var(color-sub-topic, null, $thememaplight, $cssvars);;
  }

  .tag-container {
    margin-top: 1rem;
  }
}

.plyr--paused:after {
  position: absolute;
  content: '';
  background-image: url('../../../../../images/courses/play-btn.svg');
  background-size: 5rem;
  width: 5rem;
  height: 5rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rating-star {
  color: gt.theme-var(rating-color, null, $thememaplight, $cssvars);
}

.rated-star {
  color: gt.theme-var(rating-color, null, $thememaplight, $cssvars);
}

.unrated-star {
  color: #fff;
}

.fa-star-half {
  position: relative;
  z-index: 2;
}

.background-star {
  color: gt.theme-var(rating-background, null, $thememaplight, $cssvars);
  margin-left: -18px;
  z-index: 1;
}

.empty-star {
  color: gt.theme-var(rating-background, null, $thememaplight, $cssvars);
}

.video-tags {
  color: gt.theme-var(videos-progress-gradient-1, null, $thememaplight, $cssvars);
}

.rating-container {
  display: flex;
  justify-content: space-between;
}

.rating-star-container {

  margin: 3.5rem 0;

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  // .rating__icon {
  //   pointer-events: none;
  // }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }
  
  /* set default star color */
  .unchecked {
    .rating__icon--star {
      color:#ddd;
    }
  }

  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
}

.rating-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    max-width: 220px;
    width: 100%;
    padding: auto;
  }
}

.video-page-container {
  .course-card-container {
    padding: 0;
  }
}

@media (max-width: 768px) {

  .course-card {
    width: 272px;
    height: 154px;
  }

  .course-card-container {
    h5 {
      margin-left: 1rem;
    }
  }

  .swiper-wrapper {
    padding: 0 1.25rem;
  }

  .course-card-container {
    padding: 0;
  }

  .video-page-container {
    margin: 1rem 0;
  }

  .video-discription-container {
    padding: 0 1rem;
  }

  .rating-tags-container {
    min-width: 200px;
    max-height: 164px;
  }

  // .video-page-container {
  //   .course-card-container {
  //     padding: 0 1rem;
  //   }
  // }
}
