@use '../web/stylesheets/common/sass/base/mixins' as gm;

@import './_typography.js';

@font-face {
  font-family: $font-family;
  src: url('../../../fonts/AveriaSansLibre-Bold.eot'); /* IE9 Compat Modes */
  src:
    url('../../../fonts/AveriaSansLibre-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../fonts/AveriaSansLibre-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../../../fonts/AveriaSansLibre-Bold.woff') format('woff'), /* Modern Browsers */
    url('../../../fonts/AveriaSansLibre-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: $font-family;
  src: url('../../../fonts/AveriaSansLibre-Regular.eot'); /* IE9 Compat Modes */
  src:
    url('../../../fonts/AveriaSansLibre-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../fonts/AveriaSansLibre-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../../../fonts/AveriaSansLibre-Regular.woff') format('woff'), /* Modern Browsers */
    url('../../../fonts/AveriaSansLibre-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: $font-family;
  src: url('../../../fonts/AveriaSansLibre-Light.eot'); /* IE9 Compat Modes */
  src:
    url('../../../fonts/AveriaSansLibre-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../fonts/AveriaSansLibre-Light.woff2') format('woff2'), /* Modern Browsers */
    url('../../../fonts/AveriaSansLibre-Light.woff') format('woff'), /* Modern Browsers */
    url('../../../fonts/AveriaSansLibre-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@include gm.spread-typography-map($web-typography);

body {
  font-family: $font-family;
}
