@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;
@use '../../sass/components/auth-nav';
@use '../../sass/components/auth-input';
@use '../../sass/components/auth-containers';

@import './_registerTheme.js';

@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

#root {
  min-height: 100vh;
}

.form-helper,
#form-error {
  display: none;
}

.login-into-existing-account,
.not-given-number {
  display: block;
  color: gt.theme-var(text-color-8);
  margin-bottom: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.create-account-form {
  .next-btn {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-btn {
    cursor: pointer;
  }
}

.label-and-otp-fields {
  width: 90%;
  margin: auto;

  @include gm.media-breakpoint-up(sm) {
    width: 70%;
  }
}

.otp-fields {
  display: flex;
  justify-content: space-between;

  input:not(:last-child) {
    margin-right: 0.6rem;
  }

  input {
    padding: initial;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    border-radius: initial;
    border-bottom-width: 2px !important;
    text-align: center;
  }

  input:focus {
    box-shadow: none;
    outline: none;
  }
}

.iti--separate-dial-code {
  width: 100%;
}

.otp-timer {
  display: none;
  color: gt.theme-var(text-color-5);
}

.resend-otp {
  display: none;
  color: gt.theme-var(text-color-8);
  text-decoration: none;
  cursor: pointer;
}

.passwordfield-with-toggle-icon {
  position: relative;

  .password-toggle-icon-container {
    position: absolute;
    right: 10px;
    top: 0.4rem;
    font-size: 1rem;
    color: gt.theme-var(text-color-5);
    z-index: 3;

    i {
      cursor: pointer;
    }
  }
}

input[type="password"].is-invalid,
input[type="text"]#password.is-invalid,
input[type="text"]#retyped-password.is-invalid {
  background-image: unset;
}
