@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;
@use '../../sass/components/auth-nav';
@use '../../sass/components/auth-input';
@use '../../sass/components/auth-containers';

@import './_loginTheme.js';

// default theme
// @include gt.populate-theme();
// page specific theme
@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);
#root{
  height: 100vh;
}

.btn a{
  color: inherit;
  text-decoration: none;
}

.forgot-password{
  display: block;
  color: gt.theme-var(text-color-7);
  margin-bottom: 1rem;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

