@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;
@use '../../sass/components/gameNavBar';
@use '../../sass/components/loading';

@import '_turtleTheme.js';

@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

.turtle-home-container,
.turtle-main-container {
  // background-color: gt.theme-var(game-body-bg, null, $thememaplight, $cssvars);
  height: 100vh;
  width: 100vw;

  nav {
    background-color: gt.theme-var(game-nav-bg, null, $thememaplight, $cssvars);

    .navigation-container {
      .navigation-item {
        &.active {
          background-color: gt.theme-var(game-nav-active-bg, null, $thememaplight, $cssvars);
        }
      }
    }

    &.game-navbar {
      // background: url(../../../../../images/games/navbg.png) no-repeat 100% / cover;
      background-color: transparent;

      // .dashboard-nav-link {
      //   a {
      //     color: gt.theme-var(text-color-2);

      //     &:hover {
      //       text-decoration: none;
      //     }
      //   }
      // }

      // .level-btn {
      //   img {
      //     width: 2rem;
      //   }

      //   p {
      //     color: gt.theme-var(text-color-2);
      //   }
      // }

      .leaderboard-btn {
        background-color: gt.theme-var(game-leaderboard-btn-bg, null, $thememaplight, $cssvars);
        font-weight: bold;

        &.active {
          background-color: gt.theme-var(bg-1);
          color: gt.theme-var(game-leaderboard-btn-bg, null, $thememaplight, $cssvars);
        }
      }

      // .profileImg {
      //   margin: 0;
      // }
    }
  }

  .game-navbar {
    @include gm.media-breakpoint-down(md) {
      .profileImg {
        img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }

  .turtle-frame {
    // background: url(../../../../../images/turtle/turtleBgWeb.svg) no-repeat 100% / cover;
    overflow: auto;

    .turtle-card-container {
      position: relative;
      left: 50%;
      width: 45%;
      transform: translateX(-50%);
      display: inline-block;

      @include gm.media-breakpoint-down(md) {
        display: none;
      }

      .turtle-card {
        width: 100%;
        border-radius: 12px;
        background-color: gt.theme-var(game-dark-transparent, null, $thememaplight, $cssvars);
        // backdrop-filter: blur(24px) saturate(200%);
        // -webkit-backdrop-filter: blur(24px) saturate(200%);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        padding: 2rem;
        margin-top: 2.5rem;
        color: gt.theme-var(text-color-2);

        .card-container {
          text-align: center;

          .gameTitle {
            font-size: 4rem;
            margin: 0;
          }

          .gameDesc {
            font-size: 1.25rem;
            line-height: 1.5;
            margin: 1rem 0;
          }
        }
      }

      .gameBtn {
        border-radius: 0.75rem;
        background-color: gt.theme-var(text-color-2);
        padding: 0.65rem 0;
        margin: 0.5rem 0;

        .gameBtnDesc {
          font-weight: bold;
          font-size: 1.5rem;
          // color: gt.theme-var(game-btn-text-color, null, $thememaplight, $cssvars);
          margin-bottom: 0;
          margin-left: 0.5rem;
        }
      }
    }

    .turtle-mob-card {
      display: flex;
      flex-direction: column;
      height: 100%;

      @include gm.media-breakpoint-up(md) {
        display: none;
      }

      .turtle-title,
      .turtle-actions {
        display: grid;
        place-content: center;
      }

      .turtle-title {
        flex: 4;

        .gameTitle {
          color: gt.theme-var(text-color-2);
          margin-bottom: 0;
        }
      }

      .turtle-actions {
        flex: 1;

        img {
          width: 2.5rem;
          // height: 2.5rem;
        }

        .turtle-play-btn {
          .play-btn-container {
            background-color: gt.theme-var(bg-1);
            border-radius: 50%;
            box-shadow: gt.theme-var(game-btn-shadow, null, $thememaplight, $cssvars);
            padding: 1rem 1.25rem;

            p {
              color: gt.theme-var(game-btn-text-color, null, $thememaplight, $cssvars);
              margin-bottom: 0;
              margin-top: 0.125rem;
              font-size: 0.85rem;
              letter-spacing: 2.25px;
            }
          }
        }
      }
    }
  }

  .turtle-game-container {
    display: flex;
    align-items: stretch;
    height: calc(100vh - 62px);
    padding: 1rem 0 1rem 0;
    overflow: hidden;
    // background: url(../../../../../images/turtle/turtleBgWeb.svg) no-repeat 100% / cover;

    .game-container-block {
      position: relative;

      .turtle-editor-container {
        overflow: visible;

        #tabsContent {
          #turtleBlock {
            .injectionDiv {
              overflow: visible;

              // .blocklyToolboxDiv,
              // .blocklyFlyout,
              // .blocklyFlyoutScrollbar {
              //   left: -56% !important;
              // }
            }
          }

          #turtleOutput {
            #outputSection {
              position: relative;
              background-color: gt.theme-var(bg-1);
              height: 100%;

              .drawing-controls {
                // display: flex;
                // justify-content: flex-end;
                // align-items: flex-end;
                margin-right: 0.25rem;
                margin-top: 0.25rem;
                display: flex;
                position: absolute;
                right: 0;
                z-index: 100;

                @include gm.media-breakpoint-down(md) {
                  flex-direction: column;
                }

                button {
                  margin: 0.25rem;
                  width: 2.5rem;
                }
              }

              .sectionContent {
                height: 100%;
                overflow: auto;
                position: relative;

                #userCanvas {
                  position: absolute;
                  width: 100%;
                }

                #answerCanvas {
                  position: absolute;
                  width: 100%;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }

    .turtle-question-container,
    .turtle-block-container,
    .turtle-editor-container {
      height: 100%;
      border-radius: 0.75rem;
      overflow: hidden;

      #tabsContent {
        height: calc(100% - 49px);

        .hintBtnContainer {
          position: absolute;
          right: 0;
          transform: translateX(-25%);
          z-index: 100;

          .hintBtn {
            &:focus {
              box-shadow: none;
            }

            &.hintBtn-dark {
              transform: translateY(48px);

              svg {
                path {
                  fill: gt.theme-var(text-color-1);
                }
              }
            }
          }
        }

        .tab-pane {
          height: 100%;
        }
      }
    }

    .turtle-question-container {
      display: flex;
      flex-direction: column;

      .turtle-question-block,
      .turtle-exoup-block {
        flex-basis: 0;
        flex-grow: 1;
        height: 50%;
        background-color: gt.theme-var(game-transparent-bg, null, $thememaplight, $cssvars);
      }

      .turtle-title-block {
        background-color: gt.theme-var(game-question-title-bg, null, $thememaplight, $cssvars);
        padding: 0.75rem;

        .turtle-question-title {
          color: gt.theme-var(text-color-1);
          font-weight: bold;
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }

      .turtle-question-content {
        height: calc(100% - 51px);
        overflow-y: auto;
        padding: 0.5rem;

        .turtle-question {
          font-weight: bold;
        }

        .turtle-question-instructions {
          .turtle-question-instructions-title {
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
    }

    .turtle-block-container {
      // background-color: gt.theme-var(game-dark-transparent, null, $thememaplight, $cssvars);
      background-color: gt.theme-var(bg-2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);

      .turtle-blockly-container {
        background-color: gt.theme-var(bg-4);
        padding: 0.6rem;

        .turtle-blockly-title {
          color: gt.theme-var(text-color-2);
          font-weight: bold;
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }
    }

    .turtle-editor-container {
      background-color: gt.theme-var(bg-2);

      .turtle-editor-title {
        background-color: gt.theme-var(bg-4);
        padding-top: 0.25rem;
        display: flex;
        justify-content: space-between;
        border-radius: 0.75rem 0.75rem 0 0;

        .nav-tabs {
          .nav-item {
            .nav-link {
              color: gt.theme-var(text-color-2);
              border: unset;
              font-weight: bold;
              padding-bottom: 0.75rem;

              &.active {
                color: gt.theme-var(text-color-2);
                background: gt.theme-var(game-white-gradient-bg, null, $thememaplight, $cssvars);
                background-size: 100% 0.25rem;
                background-position: bottom 0 left 0, bottom 0.25rem left 0;
                background-repeat: no-repeat;
              }

              &:hover {
                border: unset;
              }
            }
          }
        }

        .runBtnContainer {
          position: relative;
          display: inline-flex;
          align-items: center;
          padding: 0 0.5rem;

          .runBtn {
            color: gt.theme-var(text-color-2);
            background-color: gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
            border-radius: 0.75rem;
            padding: 0.25rem 0.75rem;

            i {
              margin-right: 0.25rem;
            }

            p {
              margin-left: 0.25rem;
            }

            &#continueDebugger {
              background-color: gt.theme-var(game-btn-bg, null, $thememaplight, $cssvars);
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }

    .turtle-skeleton-body {
      height: 100%;
      // animation: refresh 2.5s ease-out infinite;
      // background-image: linear-gradient(90deg, gt.theme-var(text-color-5), gt.theme-var(bg-2) 50%, gt.theme-var(skeleton-bg) 50%);
      background-size: 200%;
    }
  }

  .game-mob-container {
    position: relative;
    height: calc(100vh - 62px - 76px);
    overflow: hidden;

    .turtle-mob-game-container {
      display: flex;
      flex-direction: column;

      #tabsContent {
        flex: 1;

        .tab-pane {
          height: calc(100vh - 62px - 76px - 81px);

          &#questionBlock {
            .turtle-mob-question-container {
              padding: 0 1rem;
              height: 100%;
              display: grid;
              grid-template-rows: 43% 43% 14%;

              .turtle-mob-question-block {
                height: 100%;
                overflow: hidden;

                .turtle-question-header,
                .turtle-question-title,
                .turtle-question-instructions-title {
                  font-weight: bold;
                }

                .turtle-question-header {
                  color: gt.theme-var(text-color-2);
                  margin-bottom: 0;
                }

                .turtle-question-card {
                  background-color: gt.theme-var(game-transparent-bg, null, $thememaplight, $cssvars);
                  border-radius: 0.75rem;
                  padding: 1rem;
                  color: gt.theme-var(text-color-1);
                  height: calc(100% - 40px);
                  overflow: auto;
                }
              }

              .turtle-mob-output-block {
                background-color: transparent;
                // border: 1px solid gt.theme-var(game-btn-bg, null, $thememaplight, $cssvars);
                border-radius: 0.75rem;
                max-height: 100%;
                flex-grow: 1;
                flex-basis: 0;
                overflow: hidden;

                button {
                  background-color: gt.theme-var(bg-1);
                  border: unset;
                  border-radius: 0.75rem;
                  width: 100%;
                  padding: 1rem;
                  transition: all 0.3s ease-in-out;
                  outline: none;

                  &[aria-expanded=true] {
                    border-radius: unset;

                    i {
                      &:before {
                        content: '\f106';
                      }
                    }
                  }

                  p,
                  i {
                    color: gt.theme-var(text-color-1);
                    font-weight: bold;
                  }

                  i {
                    font-size: 1.75rem;
                  }
                }

                #expOupCollapse {
                  height: calc(100% - 62px);
                  background-color: gt.theme-var(bg-1);
                  transition: all 0.1s ease-in-out;

                  .turtle-qnout-container {
                    height: 100%;
                    overflow: auto;
                    position: relative;

                    #expOutCanvas {
                      position: absolute;
                      height: 100%;
                      width: 100%;
                    }
                  }
                }
              }

              .turtle-mob-hero-btn-block {
                display: flex;
                align-items: center;

                button {
                  background-color: gt.theme-var(game-btn-bg, null, $thememaplight, $cssvars);
                  border-radius: 0.75rem;
                  width: 100%;
                  margin: 0 auto;
                  padding: 0.75rem;

                  p {
                    color: gt.theme-var(text-color-2);
                    font-weight: bold;
                    font-size: 1.125rem;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }

          // &#turtleBlock {
          //   .blocklyScrollbarVertical {
          //     left: 2%;

          //     .blocklyScrollbarHandle {
          //       width: 0.5rem;
          //     }
          //   }

          //   .blocklyScrollbarHorizontal {
          //     top: 2%;

          //     .blocklyScrollbarHandle {
          //       height: 0.5rem;
          //     }
          //   }
          // }

          &#turtleOutput {
            background: gt.theme-var(bg-1);

            #outputSection {
              height: 100%;

              .drawing-controls {
                margin-right: 0.25rem;
                margin-top: 0.25rem;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                z-index: 100;

                button {
                  margin: 0.25rem;
                  width: 2.5rem;
                }
              }

              .outputContainer {
                height: 100%;
                position: relative;
                overflow: auto;

                #answerCanvas,
                #userCanvas {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                }
              }

              .mob-runBtnContainer {
                position: absolute;
                width: 95%;
                margin: auto;
                left: 50%;
                transform: translate(-50%, -125%);
                z-index: 100;

                button {
                  background-color: gt.theme-var(game-btn-bg, null, $thememaplight, $cssvars);
                  border-radius: 0.75rem;
                  width: 97%;
                  margin: auto;
                  color: gt.theme-var(text-color-2);
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 1rem;

                  p {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }

      .nav-tabs {
        background-color: gt.theme-var(game-dark-transparent, null, $thememaplight, $cssvars);
        backdrop-filter: blur(4px);

        .nav-item {
          flex: 1;
          display: flex;
          justify-content: center;

          .nav-link,
          .nav-link-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.active {
              background: unset;
              border: unset;

              svg,
              p {
                color: gt.theme-var(game-nav-active-color, null, $thememaplight, $cssvars);
              }
            }

            .continueDebugger {
              display: none;
            }

            p {
              color: gt.theme-var(text-color-2);
            }

            &:hover {
              border: none;
            }
          }
        }
      }
    }
  }

  .hintContainer {
    // display: none;
    position: absolute;
    background-color: gt.theme-var(bg-1);
    border-radius: 0.75rem;
    padding: 1rem;
    width: 50%;
    z-index: 100;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 100%);

    @include gm.media-breakpoint-down(md) {
      width: 90%;
      transform: translate(-50%, 150%);
    }

    button {
      border-radius: 0.75rem;
      border: 2px solid gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
      background-color: transparent;

      &:hover {
        background-color: gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
        color: gt.theme-var(text-color-2);
      }

      &.close {
        color: gt.theme-var(nav-bg-red);
        line-height: 0.5;
        font-size: 2.5rem;
        border: none;

        &:hover {
          background-color: unset;
        }
      }

      &.registerBtn {
        background-color: gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
        color: gt.theme-var(text-color-2);
      }

      &.navigateHint {
        border-radius: 50%;
        border: 2px solid gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
        color: gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
        font-size: 1rem;
        line-height: 0.5;

        &:hover {
          background-color: gt.theme-var(game-hint-btn-bg, null, $thememaplight, $cssvars);
          color: gt.theme-var(text-color-2);
        }

        & > * {
          pointer-events: none;
        }
      }
    }

    #currentHint {
      width: 90%;
    }
  }

  .successModal {
    .modal-custom-header {
      button.close {
        color: gt.theme-var(text-color-2);
        font-size: 2rem;
        background: gt.theme-var(game-modal-close-btn-bg, null, $thememaplight, $cssvars);
        padding: 0.125rem 0.6rem 0.45rem;
        line-height: 0.75;
        opacity: 1;
      }
    }

    .success-modal-content {
      .recognition-content,
      .share-content {
        display: grid;
        place-items: center;

        h5,
        p {
          text-align: center;
        }

        button {
          margin: 0 0.25rem;
          border-width: 2px;
          border-radius: 0.75rem;
          font-weight: bold;

          &.btn-outline-primary {
            &:hover {
              color: gt.theme-var(text-color-2);
            }
          }
        }
      }

      .recognition-content {
        h5 {
          margin: 1rem 0;
        }

        p {
          margin: 1rem 0;
          line-height: 1.5;
        }

        i {
          margin-left: 1.5rem;
          font-size: 1.25rem;
        }

        img {
          width: 12rem;
        }

        button {
          &.btn-primary {
            color: gt.theme-var(text-color-2);
          }
        }

        input {
          border: 1px solid gt.theme-var(game-input-border-color, null, $thememaplight, $cssvars);
        }
      }

      .share-content {
        .btn-container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 2rem auto;
          padding: 0;

          .form-group {
            margin: 0;
            padding: 0;

            input {
              border-radius: 0.5rem;
              border: 1px solid gt.theme-var(game-input-border-color, null, $thememaplight, $cssvars);
              background-color: gt.theme-var(bg-1);
            }
          }
        }
      }
    }
  }

  @keyframes refresh {
    0% {
      background-position: -100%;
    }

    100% {
      background-position: 100%;
    }
  }

  ::-webkit-scrollbar {
    @include gm.media-breakpoint-up(md) {
      width: 0.25rem;
      height: 0.25rem;
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: gt.theme-var(skeleton-bg);

    @include gm.media-breakpoint-up(md) {
      border-radius: 1rem;
    }
  }
}

.turtle-home-container {
  background: url(../../../../../images/turtle/turtleBgWeb.svg) no-repeat 100% / cover;
  background-position: left center;

  @include gm.media-breakpoint-down(md) {
    background-image: url(../../../../../images/turtle/turtleBg.png);
  }
}

.turtle-main-container {
  background: url(../../../../../images/turtle/turtleMainBgWeb.svg) no-repeat 100% / cover;
  background-position: right center;
  max-width: 100vw;
  width: unset;

  .game-level-component {
    .game-level-container {
      .close-btn-mob {
        background-color: gt.theme-var(game-btn-bg, null, $thememaplight, $cssvars);
      }
    }
  }

  @include gm.media-breakpoint-down(md) {
    background-image: url(../../../../../images/turtle/turtleMainBg.png);
  }
}
