@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;

@import './_profileTheme.js';

@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

.profile-container {
  background-color: gt.theme-var(profile-body-bg, null, $thememaplight, $cssvars);

  nav {
    background-color: gt.theme-var(profile-nav-bg, null, $thememaplight, $cssvars);
  }

  .account-nav {
    @include gm.media-breakpoint-down(sm) {
      display: none;
    }
  }

  .profile-cntnr {
    padding: 1.5rem 1rem;

    @include gm.media-breakpoint-down(sm) {
      background-color: gt.theme-var(profile-mob-body-bg, null, $thememaplight, $cssvars);
    }

    @include gm.media-breakpoint-up(md) {
      background-color: gt.theme-var(profile-card-bg, null, $thememaplight, $cssvars);
      border-radius: 0.75rem;
      margin: 1rem 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075);
    }

    .profile-edit-form {
      padding: 1rem 0 0;

      @include gm.media-breakpoint-up(md) {
        width: 60%;
        min-width: 22.5rem;
        margin: auto;
      }

      .profile-img-box {
        .profile-img-container {
          position: relative;
          width: 5rem;
          height: 5rem;
          margin: auto;

          @include gm.media-breakpoint-up(xxl) {
            width: 6rem;
            height: 6rem;
          }

          .profile-img {
            img {
              border-radius: 50%;
              width: 5rem;
              height: 5rem;

              @include gm.media-breakpoint-up(xxl) {
                width: 6rem;
                height: 6rem;
              }
            }
          }

          .profile-edit-btn {
            position: absolute;
            right: 0;
            transform: translateY(-75%);

            label {
              &:hover {
                cursor: pointer;
              }
            }

            #upload-btn {
              width: 0;
              height: 0;
            }
          }
        }

        small {
          text-align: center;
        }
      }

      .profile-data-container {
        margin: 2rem 0 0;

        .iti {
          width: 100%;
        }

        .form-control {
          border-color: gt.theme-var(profile-input-border-color, null, $thememaplight, $cssvars);
          color: gt.theme-var(text-color-1);
        }

        .form-submit-button {
          margin-top: 1.5rem;
          border-radius: 0.5rem;
          color: gt.theme-var(text-color-2);
        }
      }
    }
  }

  .profileSuccessModal {
    .modal-body {
      button {
        &.close {
          border-radius: 0.5rem;
          color: gt.theme-var(text-color-2);
          font-size: 2.5rem;
          background: gt.theme-var(modal-close-btn-bg);
          padding: 0.125rem 0.6rem 0.45rem;
          line-height: 0.75;
          opacity: 1;
          margin-left: auto;

          @include gm.media-breakpoint-down(md) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
