@use '../common/sass/themes/_default' as gt;

%input-field {
  background-color: gt.theme-var(gt.$bg-3);
  padding: 15px 16px;
  margin: 0 0;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 4px;
}
