// no actual flow is followed, just changed css declarations in scss since its already done in css.
// styles are mess here can more effectively refactored to scss by spliting to components if time permits in future
// comment by JPK

@use '../common/sass/base/_typography';
@use '../common/sass/themes/_default' as gt; //globaltheme
@use '../common/sass/base/_mixins' as gm; //globalmixin ... fllow this namings
@use '../common/sass/components/_buttons';
@use '../common/sass/components/_body';
@use '../common/sass/components/_navbar';
@use '_placeholders';

// default theme
@include gt.populate-theme();
// specific to current page theme
@include gt.populate-theme(gt.$reg-theme-map-light, gt.$reg-theme-map-dark);

.tryContainer {
  display: none;

  @include gm.media-breakpoint-up(lg) {
    display: flex;
  }
}

.tryContainer-mobile {
  display: flex;

  @include gm.media-breakpoint-up(lg) {
    display: none;
  }
}

.card-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  min-height: 600px;
}

input[type=text] {
  @extend %input-field;
}

.inp {
  background-color: gt.theme-var(gt.$bg-3);
  padding: 15px 16px;
  margin: 0 0;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 339px;

  &:focus {
    border: 1px solid gt.theme-var(gt.$text-color-5);
    border-radius: 4px;
  }
}

.form-signin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 339px;
}

label {
  margin-bottom: 0.25rem;
  margin-top: 0.8rem;
}

.linkcoloro {
  &,
  &:hover,
  &:focus {
    color: gt.theme-var(gt.$text-color-5);
  }
}

#error-msg {
  color: gt.theme-var(gt.$reg-danger-color, null, gt.$reg-theme-map-light);
  padding: 0.5rem 0;
}

.editnumber {
  &,
  &:hover,
  &:focus {
    color: gt.theme-var(gt.$reg-dim-color, null, gt.$reg-theme-map-light);
  }
}

#resendotp1 {
  padding-right: 12px;
  color: gt.theme-var(gt.$text-color-5);
}

.contact {
  color: gt.theme-var(gt.$text-color-3);
}

.linkcolor {
  color: gt.theme-var(gt.$text-color-4);
}

.forgot-password {
  text-decoration: underline;
}

.mobiledit {
  display: flex;
  justify-content: space-between;
  max-width: 339px;
}

.linkcoloroor {
  color: gt.theme-var(gt.$text-color-5);
}

.otpsent {
  color: gt.theme-var(gt.$text-color-3);
  font-size: 10px;
}

.error,
.register,
.contact {
  text-align: center;
}

span {
  .field-icon {
    color: gt.theme-var(gt.$text-color-3);
  }
}

.fa-eye-slash {
  &:before,
  &:after {
    color: gt.theme-var(gt.$text-color-3);
  }
}

.fa-eye {
  &:before {
    color: gt.theme-var(gt.$text-color-3);
  }
}

.font-black {
  font-weight: 700;
}

.mobile {
  padding-bottom: 42px;
  max-width: 339px;
}

form {
  div {
    input {
      margin: 0 0;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .togdisappear2,
  .togdisappear3, {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .card {
    margin-right: 120px;
  }

  input#phone.form-control.inp {
    max-width: 339px;
  }
}

.iti__flag-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1px;
}

.iti__country-list {
  background-color: gt.theme-var(gt.$bg-4);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.iti__country.iti__highlight {
  background-color: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.is-disabled {
  &,
  &:hover,
  &:focus,
  &:disabled {
    color: gt.theme-var(gt.$text-color-3) !important;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
}

a {
  &.hightlighted-link {
    color: gt.theme-var(gt.$text-color-5);
  }

  &.ternary-text {
    color: gt.theme-var(gt.$text-color-4);
  }

  &.is-underlined,
  &:not(.is-disabled):hover {
    text-decoration: underline;
  }
}

input[type="password"] {
  @extend %input-field;

  &:focus {
    border: 1px solid gt.theme-var(gt.$text-color-5);
    background-color: gt.theme-var(gt.$bg-3);
    border-radius: 4px;
  }

  &.is-valid,
  &.is-invalid {
    background-image: unset;
  }
}

.form-control {
  &:disabled {
    background-color: unset;
  }
}

input {
  &#phone {
    &.form-control {
      &.inp {
        padding-left: 80px;
      }
    }
  }

  margin-bottom: 0.5rem !important;
}

.icon-inside {
  position: absolute;
  right: 10px;
  top: 0.5rem;
  font-size: 16px;
  font-size: 1.125rem;
  color: #c4c3c3;
  z-index: 3;
}

#inputEmail {
  &:placeholder {
    text-align: right;
  }
}

.turtleTry {
  &:before {
    content: '';
    background: url('../../../images/register/dotted-bg.png');
    width: 50%;
    height: 50%;
    background-size: cover;
    bottom: 140px;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
  }

  &:after {
    content: '';
    background: url('../../../images/register/dotted-bg-1.png');
    width: 60%;
    height: 60%;
    background-size: cover;
    top: 0;
    left: -230px;
    position: absolute;
    background-repeat: no-repeat;
  }

  img {
    z-index: 1;
  }
}

.guestText {
  top: -10px;
  background-color: gt.theme-var(gt.$bg-2);
}
