@use '../../sass/themes/_default' as gt;
@use '../../sass/base/_mixins' as gm;

@import './_signinTheme.js';

// default theme
// @include gt.populate-theme();
// page specific theme
@include gt.populate-theme($thememaplight, $thememapdark, $cssvars);

.signin-container {
  min-height: 100vh;
  background: url(../../../../../images/signin/background-vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  nav {
    padding: 24px;
    margin-bottom: 25px;

    .help {
      color: gt.theme-var(signin-faded-btn-text-color, null, $thememaplight, $cssvars);
    }
  }

  .form-control {
    border: 2px solid gt.theme-var(signin-input-border-color, null, $thememaplight, $cssvars);
    padding: 14px 16px;
    height: 48px;
    border-radius: 8px;

    &:focus {
      border-color: gt.theme-var(signin-input-border-color, null, $thememaplight, $cssvars);
      box-shadow: 0 0 0 0.2rem rgb(255 155 3/ 25%);
    }
  }

  .signin-form {
    width: 100%;
    height: calc(100vh - 120px);
    margin: auto;
    box-shadow: none;
    border-radius: 16px;
    background: gt.theme-var(bg-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include gm.media-breakpoint-up(sm) {
      width: 50%;
      height: 640px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    @include gm.media-breakpoint-up(lg) {
      width: 36%;
    }

    .signin-form-svg {
      display: block;
      margin: 4rem auto 2rem;
    }

    .create-account-btn {
      background-color: gt.theme-var(signin-faded-btn-bg, null, $thememaplight, $cssvars);
      color: gt.theme-var(signin-faded-btn-text-color, null, $thememaplight, $cssvars);

      @include gm.media-breakpoint-up(md) {
        border-radius: 0 0 16px 16px;
      }
    }

    .sign-in-with-google-btn {
      border-radius: 12px;
      height: 50px;
    }

    .login-btn {
      border-radius: 12px;
      height: 50px;
      background-color: gt.theme-var(signin-btn-bg, null, $thememaplight, $cssvars);
      border-color: gt.theme-var(signin-input-border-color, null, $thememaplight, $cssvars);
    }
  }
}
